<div class="ec-card-page">
    <div class="card-page-body">
        <div class="card-title">
            <h2>カードの追加</h2>
        </div>
        <%= form_with url: shippings_add_credit_path, data: { turbo: false }, id: "card_form" do |f| %>
            <div class="ec-borderedDefs-card">
                <div class="element-cardInfo payjp">   
                    <label for="number-form" class="number-form">カード番号</label>              
                    <div id="number-form" class="payjs-outer form-control"><!-- カード番号入力フォーム --></div>                    
                </div>

                <div class="element-cardInfo payjp">
                    <label for="expiry-form" class="expiry-form">有効期限</label>      
                    <div id="expiry-form" class="payjs-outer form-control"><!-- 有効期限入力フォーム --></div> 
                </div>

                <div class="element-cardInfo payjp">
                    <label for="cvc-form" class="cvc-form">セキュリティコード</label>      
                    <div id="cvc-form" class="payjs-outer form-control"><!-- CVC入力フォーム --></div>
                </div>

                <div class="element-cardInfo cardInfo-last">
                    <label for="cardholder_name" class="cardholder_name">名義人</label>      
                    <%= f.text_field :cardholder_name, placeholder: "例：TARO YAMADA", id: "cardholder_name", class: "form-control" %>
                </div>
            </div>
            <div id="card_token"></div>
        
            <div class="actions">
                <%= f.submit "登録する", class: "btn ec-blockBtn--action card-btn", id: "info_submit" %>
                <%= link_to "戻る", orders_path, class: "btn ec-blockBtn--cancel card-btn" %>
            </div>
        <% end %>
    </div>
</div>