<div class="ec-wholePage">
  <div class="ec-pageHeader">
    <h2 class="title">お問い合わせ内容送信完了</h2>
  </div>

  <div class="ec-formBody">
      <div class="order-complete">
            <div>お問い合わせ内容が送信されました！</div>
            <div>回答までしばらくお待ちください。</div>
        </div>
        <div class="top-page-link">
            <%= link_to "トップページへ", root_path %>
        </div>
  </div>
</div>
