<div class="search">
  <%= form_with url: order_search_path, local: true, method: :get do |f| %>
    <%= f.label :order_number, "注文番号：" %>
    <%= f.text_field :order_number, placeholder: "00000", maxlength: 5, pattern: "\d{5}", class: "order-serach-form" %>
    <button type="submit" class="order-search-btn">
    <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  <% end %>
</div>