<div class="ec-wholePage">
  <div class="ec-pageHeader">
    <h2 class="title">パスワードの再発行(メール送信)</h2>
  </div>

  <div class="ec-formBody">
    <h2 class="title">パスワードの再発行メールの送信が完了しました。</h2>
    <p>ご登録メールアドレスにパスワードを再発行するためのメールを送信いたしました。メールの内容をご確認いただきますようお願いいたします。<br />
    ※メールが届かない場合はメールアドレスをご確認の上再度お試しください。</p>
  </div>