.w50 {
  width: 50% !important;
}

.w75 {
  width: 75% !important;
}

.w90 {
  width: 95% !important;
}

.h200 {
  height: 200px !important;
}

.w-150px {
  width: 150px !important;
}

.w-350px {
  width: 350px !important;
}

.w-180px {
  width: 180px !important;
}

.field_with_errors {
  display: contents;
}

:root {
  --sumi: #525263;
}

select option:first-child {
  color: var(--sumi); /*プロンプトの文字色をグレーに変更*/
}

dl {
  margin: 0;
}


/* バリデーションエラーメッセージ */

#error_explanation {
  margin: 0 auto; 
  margin-bottom: 10px;
  padding-top: 7px;
  width: 750px;
  border: 2px solid #de4d4d;
}

ul li {
  font-size: 15px;
  color: #de4d4d;
  list-style: square;
}

.valid-error-mssg {
  padding-bottom: 10px;
}

.alert {
  width: 1050px;
  margin: 0 auto;
  color: #de4d4d
}

.notice {
  width: 1050px;
  margin: 0 auto;
  margin-top: 20px;
}

/* ヘッダー */

.ec-headerNaviRole {
  position: fixed;
  top: 0;
  background-color: #2c3e50;
  z-index: 9999;
  width: 100%;
}

.header-inner {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 5px;
  margin: 0 auto;
  width: 1080px;
}

#link_logo {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
  background-color: transparent;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  background-color: transparent;
}

.ec-headerNavi_right {
  display: flex;
}

.header-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-list {
  display: block;
  width: auto;
  height: 13px;
  margin: 0 auto;
}

.icon-name {
  font-size: 13px;
  font-family: HiraMinProN-W6;
  font-weight: bold;
  color: white;
}

#link_admin_product_list_header, #link_admin_product_new_header,
#link_admin_logout_header, #link_admin_order_history_head {
  font-size: 15px;
  font-family: HiraMinProN-W6;
  font-weight: bold;
  color: white;
}

a {
  background-color: transparent;
  text-decoration: none !important;
}

.ec-headerNavi_right {
  padding: 10px 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#navbar-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 23px;
  align-items: center;
  cursor: pointer;
}

.bar {
  background-color: #C0C0C0;
  width: 28px;
  height: 3px;
  transition: all 0s ease-in-out;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

.navbar-menu li {
  margin-right: 20px;
  list-style: none;
}

.navbar-menu li:last-child {
  margin-right: 0;
}

.hidden-menu {
  display: none;
  position: fixed;
  top: 75px; 
  left: 0;
  width: 100%;
  padding: 10px 30px 0 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: rgba(236, 236, 236, 0.9);
  align-items: center;
}

.hidden-menu li {
  display: block;
  list-style: none;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1.5px solid rgb(200, 200, 200);
}

.hidden-menu li:last-child {
  margin-bottom: 0;
}

#link_top, #link_mypage, #link_cart, #link_favorite, 
#link_order_history, #link_login, #link_sign_up,
#link_logout, #link_admin_product_list, #link_admin_product_new,
#link_admin_order_history {
  display: block;
  color: rgb(100, 100, 100);
  font-family: 'Zen Antique', serif;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#link_top:hover, #link_mypage:hover, #link_cart:hover, #link_favorite:hover, 
#link_order_history:hover, #link_login:hover, #link_sign_up:hover,
#link_logout:hover, #link_admin_product_list:hover, #link_admin_product_new:hover,
#link_admin_order_history:hover {
  color: #337ab7;
}


@media only screen and (max-width: 980px) {
  .navbar-menu {
    display: none;
  }
  
  #navbar-toggle {
    display: flex;
  }
  
  .navbar-menu.show {
    display: block;
  }
  
  .navbar-menu.show li {
    display: block;
    margin: 10px 0;
  }
  
  .navbar-menu.show li:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 980px) {
  .hidden-menu {
    display: none;
  }
}

@media (max-width: 1100px) {
  .header-inner {
    width: 98%;
  }
}

#navbar-toggle.open .bar {
  top: 17px;
  right: 10px;
  width: 28px;
  position: absolute;
}
 
#navbar-toggle.open span:first-child {
  transform: rotate(45deg);
}

#navbar-toggle.open span:nth-child(2) {
  display: none;
}

#navbar-toggle.open span:last-child {
  transform: rotate(-45deg);
}

.hidden-menu.show { 
  display: block;
}

/* フッター */

.ec-footerRole {
  margin-top: 100px;
  padding-top: 40px;
  background-color: #2c3e50;
}

.footer-body {
  display: flex;
  margin: 0 auto;
  padding: 10px 20px 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4;
  color: #525263;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  max-width: 1130px;
}

.footer-product-category {
  width: 800px;
}

.product-category-title {
  width: 250px;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
}

.footer-menu-link {
  display: flex;
  flex-wrap: wrap;
}

#footer-link {
  display: inline-block;
  width: 100%;
  margin: 0 0 10px;
  font-size: 14px;
  color: #fff;
}

#footer-link:hover {
  color: #337ab7;
}

.footer-copyright {
  text-align: center;
  padding: 10px 20px 0;
  margin-top: 15px;
}

.copyright_title {
  display: block;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #fff;
  color: #ccc;
}

@media (max-width: 980px) {
  .ec-footerRole {
    padding-top: 10px;
  }

  .footer-body {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-product-category {
    width: 100%;
  }

  .footer-menu-link {
    margin-top: 10px;
  } 

  .footer-product-category {
    width: 100%;
  }

  .product-category-title {
    width: 100%;
    text-align: unset;
  }

  .category-menu-link {
    border-bottom: 1px dotted #C0C0C0;
  }
}

/* 商品カテゴリー別ページ */

.product-list-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 25px;
}

.product-item-category {
  position: relative;
  padding: 0 15px;
}

.product-item-category img {
  width: 100%;
  max-height: 50vw;
  object-fit: cover;
}

.category-paginate {
  margin-top: 20px;
}

@media (max-width: 800px) {
  .product-list-category {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 25px auto 0;
  }
}

/* ヘッダー検索、検索結果ページ */

.ec-headerSearch {
  width: 100%;
}

.search-product-body {
  width: 100%;
  margin: 120px auto 0;
  display: flex;
}

.search-products-list {
  width: 80%;
  margin: 0 auto;
}

.search-result {
  font-size: 20px;
  font-weight: bold;
  color: var(--sumi);
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.search-result-count {
  margin-top: 10px;
  padding: 0 5px;
  color: var(--sumi);
  font-size: 20px;
  .products-count {
    font-weight: bold;
  }
}

.search-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 25px;
}

.search-product-item {
  position: relative;
}

.search-product-item img {
  width: 100%;
  max-height: 50vw;
  object-fit: cover;
}

.search-result-paginate {
  margin-top: 25px;
}

.search-form-header {
  width: 100%;
}

.search-button {
  background: none;
  border: none;
}

.order-search-btn {
  background: none;
  border: none;
}

.search_container{
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.search_container input[type="text"]{
  border: none;
  height: 1.8em;
  padding: 5px;
}

.search_container input[type="text"]:focus {
  outline: 0;
}

.search_container input[type="submit"]{
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  width: 1.2em;
  height: 1.8em;
  right: 7px;
  outline : none;
  padding: 0;
}

@media (max-width: 1050px) {
  .search-product-list {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 25px auto 0;
  }
}

@media (max-width: 980px) {
  .ec-headerNavi_center {
    display: none;
  }
  
  .search-field {
    width: 100%;
    padding: 0 5px;
  }

  .search-form {
    width: 95%;
  }

  .search-button {
    position: absolute;
    right: 15px;
  }

  .search_container_toggle {
    margin: 10px auto;
    width: 90%;
    position: relative;
  }
}

@media (max-width: 790px) {
  .search-product-list {
    grid-template-columns: 1fr 1fr;
    margin: 25px auto 0;
  }
}

/* 絞り込み検索 */

.filter-search {
  width: 160px;
}

.search-menu {
  margin-top: 16px;
  border-bottom: none;
}

.search-item {
  display: block;
  width: 160px;
  color: var(--sumi);
  padding: 10px;
  background-color: #ECEFEE;
  border-bottom: 1px solid #D0D0D0;
  border-left: 1px solid #D0D0D0;
  border-right: 1px solid #D0D0D0;
  cursor: pointer;
}

.checkbox-item {
  padding: 10px;
  font-size: 13.5px;
  background-color: #fff;
  border-color: 1px solid #ECEFEE;
  border-left: 0.1px dotted #D0D0D0;
  border-right: 0.1px dotted #D0D0D0;
}

.search-brand, .search-color, .search-shape, .search-carrying_style, .search-style,
.search-closure_method {
  display: none;
}

.filter-search-box {
  height: 100px;
}

.filter-search-field {
  width: 140px;
  margin-top: 5px;
  border-radius: 3px;
  border: 0.8px solid #999;
}

#filter-search-btn {
  display: block;
  width: 140px;
  margin-top: 10px;
  border-radius: 3px;
  border-color: #999;
  background-color: #999;
  color: #fff;
}

/* 絞り込み検索結果ページ*/

.search-product-right {
  width: 100%;
}

// マイページ

.ec-mypageLayout {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.ec-mypageBody {
  display: flex;
  justify-content: center;
}

.ec-mypageBody-right {
  margin: 50px 0 0 50px;
}

.mypage-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.2px solid #ccc;
  color: var(--sumi);
  margin: 0 auto;
}

.mypage-username {
  display: inline;
  font-size: 23px;
  padding-left: 10px;
  margin-top: 10px;
}

.username {
  margin-right: 5px;
}

#logout_btn {
  height: 22px;
  width: 78px;
  padding-top: 1px;
  border-radius: 20px;
  text-align: center;
  font-size: 13px;
  color: rgb(90, 90, 90);
  background-color: #C0C0C0;
  border: solid 1px rgb(96, 96, 96);
}

#logout_btn:hover {
  color: #337ab7;
}

.mypage-topnav {
  width: 860px;
  list-style: none;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px;
}

.menu-icon {
  flex-direction: column;
  height: 100%;
  display: flex;
  text-align: center;
  border-radius: 5px;
}

.mypage-list {
  margin: 10px;
  width: 29%;
  height: 150px;
  border-radius: 5px;
  background-color: #ECEFEE !important;
  border-radius: 10px;
  border: solid 1px #CAD8E3;
}

.mypage-list a:hover {
  background-color: #E1E6EF;
}

.hidden-list {
  background-color: transparent !important;
  border: none !important;
}

.menu-name {
  font-size: 16px;
  font-family: HiraMinProN-W6;
  font-weight: bold;
  color: #2c3e50;
  display: block;
  height: 100%;
}

.mypage-icon {
  margin: 40px 0 8px 0;
  color: #2c3e50;
}

// サイドメニュー

.mypage-side-menu {
  display: block;
  width: 160px;
  margin-top: 50px;
}

.side-menu {
  margin-top: 16px;
  border-bottom: none;
}

.sidemenu-title {
  padding: 10px;
  color: white;
  background-color: #2c3e50;
  border-left: solid 1px #2c3e50;
  border-right: solid 1px #2c3e50;
}

li {
  list-style: none !important;
}

#link_mypage_top, #link_mypage_order, #link_mypage_user, 
#link_mypage_favorite, #link_mypage_address, #link_mypage_card,
#link_mypage_guide, #link_mypage_terms, #link_mypage_logout {
  display: block;
  width: 160px;
  color: black;
  padding: 10px;
  background-color: #ECEFEE;
  border-bottom: 1px solid #D0D0D0;
  border-left: 1px solid #D0D0D0;
  border-right: 1px solid #D0D0D0;
}

#link_mypage_top:hover, #link_mypage_order:hover, #link_mypage_user:hover, 
#link_mypage_favorite:hover, #link_mypage_address:hover, #link_mypage_card:hover,
#link_mypage_guide:hover, #link_mypage_terms:hover, #link_mypage_logout:hover {
  background-color: #E1E6EF;
}

@media (max-width: 1130px) {
  .ec-mypageBody-right {
    width: 100%;
  }

  .mypage-title {
    width: 97%;
  }

  .ec-mypageBody {
    width: 98.5%;
  }

  .mypage-topnav {
    width: 97.5%;
  }
}

@media only screen and (max-width: 980px) {
  .ec-mypageLayout {
    padding: 30px 0;
  }

  .mypage-side-menu {
    display: none;
  }

  .ec-mypageBody-right {
    margin: 10px auto;
    justify-content: center;
  }

  .mypage-topnav {
    width: 100%;
  }

  .mypage-title, .ec-pageHeader {
    width: 97%;
  }

  .mypageTop-link {
    width: 97%;
  }

  .mypage-list {
    width: 45%;
    height: 100px;
  }
  
  .mypage-icon {
    margin: 12px 0 8px 0;
    color: #2c3e50;
  }
}

@media only screen and (max-width: 450px) {

  .ec-mypageBody-right {
    margin: 10px auto;
    justify-content: center;
  }

  .mypage-topnav {
    margin: 0;
    width: 100%;
  }

  .mypage-title, .ec-pageHeader {
    width: 100%;
  }

  .mypage-username {
    font-size: 15px;
    padding-left: 10px;
    margin-top: 10px;
  }

  #logout_btn {
    height: 23px;
    width: 75px;
    font-size: 12px;
  }

  .mypage-list {
    width: 44.5%;
    height: 100px;
  }
  
  .mypage-icon {
    margin: 12px 0 8px 0;
    color: #2c3e50;
  }
}

// 会員情報変更ページのレイアウト

.userInfo-change-form {
  margin: 0 auto;
  width: 860px;
  justify-content: center;
}

.mypageTop-link {
  margin-bottom: 5px;
}

.ec-formBody-change {
  padding: 30px 50px;
}

.element-userInfo {
  border-top: 1px dotted #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ec-borderedDefs-mypage {
  margin: 0 auto;
  width: 780px;
  justify-content: center;
}

.element-form-change {
  padding: 10px 0 10px 0;
  width: 460px;
}


.ec-withdrawal {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: right;
  width: 780px;
}

.btn-withdrawal {
  width: 90px;
  border-radius: 25px;
}

.tel-field {
  border-bottom: 1px dotted #ccc;
}

@media (min-width: 980px) and (max-width: 1130px) {

  .ec-borderedDefs-mypage {
    width: 100%;
  }

  .userInfo-change-form {
    width: 100%;
  }

  .element-userInfo {
    width: 100%;
  }

  .ec-withdrawal {
    width: 100%;
  }
}

@media (max-width: 980px) {

  .userInfo-change-form {
    width: 100%;
  }

  .ec-formBody-change {
    padding: 10px 0 0 0;
    width: 100%;
  }

  .ec-borderedDefs-mypage {
    width: 97%;
    padding: 0 20px;
  }

  .element-userInfo {
    display: block;
    width: 100%;
  }
  
  .element-form-change {
    width: 100%;
  }

  .ec-withdrawal {
  margin: 0 auto;
  margin-top: 10px;
  width: 95%;
  }
}

// お届け先一覧

.mssg_and_add-btn {
  padding: 10px 10px 20px;
  border-bottom: 1px dotted #ccc;
}

.ec-formBody-address {
  padding: 20px 40px;
}

.btn-add-address, .btn-change-address, .btn-change-credit, .order-detail-hisotory-btn,
.order-history-update-btn {
  display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 0px;
    padding: 10px 16px;
    background-color: #F5F7F8;
    border-color: #ccc;
}

.btn-add-address:hover, .btn-change-address:hover, .btn-change-credit:hover, .order-detail-hisotory-btn:hover,
.order-history-update-btn:hover {
  background-color: #D8E3EF;
}

#add_address_link, #change_address_link, #order-history-detail-link, #order-history-update-link {
  color: #525263;
}

.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  border-bottom: 1px dotted #ccc;
}

.address_and_batsu {
  display: flex;
  align-items: center;
}

.batsu {
  padding: 0 20px;
}

#delete_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  border: 1px solid #C0C0C0;
}

#delete_btn:hover {
  background-color: #D0D0D0;
}

.batsu_mark {
  width: 22px;
  height: 22px;
  padding: 0 0 3px 2px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #C0C0C0;
}

.address-info {
  margin-top: 19px;
}

.btn-change-address {
  margin: 0 20px;
}

@media (max-width: 980px) {
  .ec-formBody-address {
    padding: 20px 25px;
  }
}

// カード情報変更

.ec-formBody-card {
  margin-top: 30px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  justify-content: space-around;
  width: 100%;
}

thead {
  border-bottom: #ccc solid 1.2px;
}

th, td {
  padding: 0 10px 0 25px;
  color: var(--sumi);
}

.number {
  text-align: center;
}

.ec-borderedDefs-card {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardInfo-last {
  border-bottom: 1px dotted #ccc;
}

.element-cardInfo {
  border-top: 1px dotted #ccc;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

p {
  margin-top: 15px;
}

#number-form, #expiry-form, #cvc-form, #cardholder_name {
  width: 60%;
}

.number-form, .expiry-form, .cvc-form, .cardholder_name {
  color: var(--sumi);
  font-weight: bold;
  font-family: Georgia;
}

#cardholder_name {
  height: 33.19px;
}

.payjp .form-control:focus {
  border-color: #80bdff;
}

.form-control:focus, .form-select:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 980px) {
  .ec-formBody-card {
    padding: 0 20px;
  }

  .ec-borderedDefs-card {
    padding-top: 10px;
  }

  .element-cardInfo {
    display: block;
  }
}

/* お気に入り */

.favorite-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 25px;
}

.favorite-product-item {
  position: relative;
  padding: 0 15px;
}

.favorite-product-item img {
  width: 100%;
  max-height: 50vw;
  object-fit: cover;
}

.favorite-delete {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 10;
  background-color: rgb(136, 136, 136);
  size: px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: none;
  opacity: 0.8;
}

.favorite-delete:hover {
  background-color: #C0C0C0;
}

.favorite-paginate {
  margin-top: 20px;
}

@media (max-width: 800px) {
  .favorite-product-list {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 25px auto 0;
  }
}

/* 注文履歴ページ */
.order-history-body {
  width: 95%;
  margin: 10px auto;
}

.order-history-info {
  margin-top: 15px;
}

.order-info {
  border-top: 1px dotted #ccc;
  display: flex;
  padding: 10px;
}

.order-info1 {
  padding: 10px;
  flex-grow: 1;
}

.order-info2 {
  padding: 10px;
  flex-grow: 2;
}

.product-image-order-history {
  width: 120px;
  padding: 5px;
}

.order-product-name-price {
  flex-grow: 1;
  padding: 10px;
}

.order-product-detail {
  border-top: 1px dotted #ccc;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.total-amount {
  border-top: 1px dotted #ccc;
  padding: 5px;
}

.order-history-paginate {
  border-top: 1px dotted #ccc;
  padding-top: 20px;
  margin: 0 auto;
  width: 900px;
}

.order-history-update-btn {
  margin-left: 10px;
  margin-bottom: 10px;
}

.order-history-form {
  width: 500px !important;
}

.order-detail-hisotory-btn {
  margin-top: 20px;
}

.product-link-order-history {
  color: var(--sumi);
}

.order-search {
  border-bottom: 1px dotted #ccc !important;
}

.order-serach-form {
  width: 150px;
}

.order-status-update-btn {
  text-align: center;
  margin: 15px auto;
  width: 150px;
}

@media (max-width: 980px) {
  .order-info {
    display: block;
  }

  .order-status-update-btn {
    width: 95%;
  }

  .order-history-cancel {
    width: 95%;
  }
}

/* カート、注文ページ、配送先追加ページ */

.ec-cart-page, .ec-order-page, .ec-shipping_address-page, .ec-card-page {
  margin-top: 120px;
}

.cart-page-body, .order-page-body, .shipping_address-page-body, .card-page-body {
  margin: 0 auto;
  width: 1020px;
}

.cart-title, .order-title, .shipping_address-title, .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.2px solid #ccc;
  color: var(--sumi);
  margin: 0 auto;
}

.ec-cartRole__progress {
  margin-top: 35px;
}

.ec-progress {
  margin: 0 auto;
  padding: 8px 0 16px;
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 600px;
  list-style: none;
}

.ec-progress .ec-progress__item {
  display: table-cell;
  position: relative;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  z-index: 10;
}

.ec-progress .ec-progress__item:after {
  content: '';
  position: absolute;
  display: block;
  background: #525263;
  width: 100%;
  height: 0.2em;
  top: 19px;
  left: 50%;
  margin-left: 1.5em\9;
  z-index: -1;
}

.ec-progress .ec-progress__item:last-child:after {
  display: none;
}

.ec-progress .ec-progress__number {
  line-height: 37px;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  font-size: 20px;
  background: #525263;
  color: #fff;
  top: 0;
  left: 18px;
  display: inline-block;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 50%;
}

.ec-progress .ec-progress__label {
  font-size: 12px;
  color: #525263;
}

.ec-progress .is-complete .ec-progress__number {
  background: #5CB1B1;
}

.ec-progress .is-complete .ec-progress__label {
  color: #5CB1B1;
}

.ec-alert-warning-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .ec-alert-warning {
    width: 520px;
    padding: 10px;
    text-align: center;
    background: #F99;
    margin-bottom: 20px;
    .ec-alert-warning__text {
      color: #fff;
      font-weight: bold;
      margin: 0;
    }
  }
}

.total-price-mssg {
  text-align: center;
  color: var(--sumi);
}

.products-items {
  width: 90%;
  margin: 0 auto;
  color: var(--sumi);
}

.product-delete-title, .product-info-title, 
.cart-quantity-title, .cart-subtotal-title {
  padding: 0;
}

.product-delete-title {
  width: 10%;
}

.product-info-title {
  width: 45%;
}

.cart-quantity-title {
  width: 18%;
}

.cart-subtotal-title {
  width: 18%;
}

.product-cart {
  border-bottom: 0.8px dotted #999;
}

.product-delete {
  padding: 0;
  text-align: center;
}

#delete_btn-cart {
  top: 10px;
  height: 23px;
  width: 23px;
  border: 1px solid #C0C0C0;
}

#delete_btn-cart:hover {
  background-color: #D0D0D0;
}

.product-image-cart {
  width: 120px;
}

.product-info {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.product-name_and_color {
  width: 100%;
  margin-left: 20px;
}

.product-color-cart {
  margin-top: 0;
  margin-bottom: 5px;
}

.product-name-cart, .product-price-cart, .product-subtotal-cart {
  margin: 0;
}

.product-name-cart {
  color: #337ab7;
}

.product-name-cart, .product-color-cart, .product-price-cart {
  font-weight: bold;
}

.product-subtotal-cart {
  display: none;
}

.cart-quantity {
  width: 100px;
  padding: 0;
  .item-quantity {
    width: 100%;
    text-align: center;
    .decrease_btn, .increase_btn {
      border-radius: 15px;
      border: 1px solid #999;
      display: inline-block;
      width: 25px;
      cursor: pointer;
    }
    .quantity_number {
      margin: 5px;
      width: 10px;
    }
  }
}

.quantity-title {
  display: none;
}

.cart-subtotal {
  width: 100px;
  padding: 0;
  .subtotal_number {
    margin: 0;
    text-align: center;
  }
}

.ec-cartRole_actions {
  text-align: center;
  width: 25%;
  margin-left: 70%;
}

.ec-cartRole__total {
  padding: 15px 0 30px;
  font-weight: bold;
  font-size: 16px;
}

.ec-cartRole__totalAmount {
  margin-left: 30px;
  color: #de5d50;
  font-size: 25px;
}

.ec-blockBtn--action {
  position: relative;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none !important;
  border: 1px solid transparent;
  font-size: 14px;
  padding: 10px 16px;
  color: #fff;
  background-color: #E02447;
  border-color: #E02447;
  display: block;
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 4px;
}

.ec-blockBtn--cancel {
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none !important;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: 4px;
  padding: 10px 16px;
  color: #fff;
  background-color: #525263;
  border-color: #525263;
  display: block;
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding-top: 0;
  padding-bottom: 0;
}

.ec-blockBtn--action:hover {
  color: #fff;
  background-color: #D21E3C;
}

.ec-blockBtn--cancel:hover {
  color: #fff;
  background-color: #3E3E4D;
} 


@media (max-width: 1096px) {
  .cart-page-body {
    width: 93%;
  }
}

@media (max-width: 980px) {
  .ec-cart-page, .ec-order-page, .ec-shipping_address-page, .ec-card-page {
    margin-top: 35px;
  }

  .cart-page-body, .order-page-body, .shipping_address-page-body, .card-page-body {
    width: 93%;
  }

  .cart-title h2 {
    font-size: 23px;
  }

  .ec-alert-warning-box {
    display: block;
    .ec-alert-warning {
      width: 100%;
    }
  }

  .product-title {
    display: none;
  }

  .product-cart {
    border-top: 0.8px dotted #999;
  }

  .product-delete {
    width: 16%;
  }

  .product-image-cart {
    width: 100%;
  }

  .quantity-title {
    display: inline-block;
  }

  .product-subtotal-cart {
    display: block;
  }

  .cart-quantity {
    width: 25%;
  }

  .quantity-change_btn {
    margin-top: 5px;
  }

  .cart-subtotal {
    display: none;
  }

  .ec-cartRole_actions {
    width: 90%;
    margin: 0 auto;
  }

  .ec-cartRole__total {
    padding: 15px 0 30px;
    text-align: right;
  }

  .ec-cartRole__totalAmount {
    font-size: 20px;
  }
}

/* 注文ページ */

.order-product-info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 0.5px dotted #ccc;
  border-bottom: 0.5px dotted #ccc;
}

.product-image-order {
  width: 120px;
}

.product-info-order {
  margin-left: 20px;
}

.product-name-order, .product-color-order, .product-price-order, .subtotal-order {
  margin: 0;
}

.total-amount-orders {
  margin-top: 20px;
  margin-left: 10px;
}

.shipping_address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-btn, .order-btn, .card-btn {
  margin: 10px auto;
}

.ec-registerRole {
  margin-top: 20px;
}

.ec-off1Grid__cell {
  width: 98%;
  margin: 0 auto;
}

.ec-addressList__item {
  display: flex;
  align-items: center;
}

.shipping_address-label {
  margin-left: 15px;
}

.payment_method-field {
  border-bottom: 1px dotted #ccc;
}

#registered-credit {
  border-bottom: 1px dotted #ccc;
  padding: 10px;
}

.registered-credit-confirm {
  border-bottom: 1px dotted #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-credit {
  justify-content: space-between;
}

.credit-table {
  width: 90%;
  display: flex;
  justify-content: center;
}

.change-btn {
  height: 40px;
}

.btn-change-credit {
  margin: 0 20px;
}

.card_info {
  display: block;
}

.shipping_date, .shipping_time {
  margin: 0;
}

.card-info-registered {
  margin: 0;
}

.order-complete {
  font-size: 20px;
  font-weight: bold;
  color: var(--sumi);
  margin: 50px auto;
  text-align: center;
}

.top-page-link {
  text-align: right;
  padding-right: 30px;
}

@media (max-width: 980px) {
  .registered-credit-confirm {
    display: block;
  }
}

/* 新規会員登録画面、登録確認画面、会員情報編集画面 */

.ec-wholePage {
  margin: 0 auto;
  margin-top: 60px;
}

.ec-pageHeader {
  margin: 0 auto;
  padding: 10px 0;
}

.title {
  border-bottom: 1.2px solid #ccc;
  margin: 0 auto;
  width: 1050px;
  color: var(--sumi);
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
}

.ec-formBody {
  overflow: hidden;
  padding: 20px 0;
}

.ec-borderedDefs {
  margin: 0 auto;
  width: 900px;
  justify-content: center;
}

.element {
  border-top: 1px dotted #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job {
  border-bottom: 1px dotted #ccc;
}

.element-label {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.element-form {
  padding: 10px 0 10px 0;
  width: 600px;
}

.output {
  padding-left: 10px;
}

.ec-zipInput {
  display: flex;
  width: 40%;
}

.post-mark {
  margin-top: 15px;
  padding-left: 15px;
}

.ec-required {
  color: #DE5D50;
  font-size: 12px;
  font-weight: normal;
}

.control-label {
  color: var(--sumi);
}

.form-control {
  margin: 10px;
}

.ec-birth {
  display: flex;
  align-items: center;
}

.form-select {
  margin: 10px;
}

#user_birthday_1i {
  display: block;
  width: 25% !important;
  font-size: 89.8%;
}

#user_birthday_2i, #user_birthday_3i {
  display: block;
  width: 19.9% !important;
  font-size: 89.8%;
}

.control-label {
  font-weight: bold;
  font-family: Georgia;
  margin-right: 30px;
}

.radio_button {
  display: inline-block;
  margin-right: 20px;
}

#entry_sex {
  padding-left: 20px;
  display: flex;
}

.radio_button {
  color: var(--sumi);
}

.actions {
  text-align: center;
  margin: 15px 0;
}

.ec-buttons {
  margin-top: 60px;
}

.check {
  text-align: center;
  color: var(--sumi);
}

.mail-cautions {
  border: 1px solid var(--sumi);
  margin: 10px auto;
  width: 900px;
  align-items: center;
  padding: 15px;
  color: var(--sumi);
  font-size: 15px;
}

.btn {
  width: 200px;
  height: 50px;
  border-radius: 5px;
}

.pw-guide {
  padding-left: 15px;
  color: #de4d4d;
}

h4 {
  color: var(--sumi);
}

/* ログイン画面 */

.ec-loginBody {
  margin: 30px auto;
  padding: 10px;
  height: 450px;
  width: 650px;
}

.field {
  height: 250px;
  padding-top: 60px;
} 

.login-form {
  margin: 10px auto;
  width: 60%;
  padding: 10px;
} 

.form-check {
  width: 75%;
  margin: 0 auto;
} 

.ec-login {
  display: flex;
  align-items: center;
  padding: 10px 60px;
  padding-left: 80px;
}

.btn-login {
  width: 45%;
  height: 50px;
  border-radius: 5px;
}
 
.ec-login_link {
  margin-left: 30px;
  width: 45%;
}  

/* パスワード再発行画面 */

.ec-password-reset {
  justify-content: center;
  padding: 30px 50px; 
}

.password-resest-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px auto;
  padding: 0 60px;
  background-color: aliceblue;
}

.ec-send-email {
  border-bottom: 1px dotted #ccc;
}

.ec-send-email-btn {
  margin: 10px auto; 
  padding: 20px 0 20px 0; 
}

.btn-email {
  width: 150px;
  height: 50px;
  border-radius: 5px;
}

.password-reset-label {
  font-weight: bold;
  padding-left: 50px;
}

.ec-reset-messg {
  padding-left: 10px;
  margin: 5px 30px;
}

.error-mssg {
  margin-left: 10px;
}

/* 商品登録画面 */

.admin-pro-formBody {
  overflow: hidden;
  padding: 20px 0; 
}

.ec-admin-product {
  margin: 0 auto;
  margin-top: 120px;
}

.product-register-header {
  margin: 0 auto;
  padding: 10px 0;
}

.image {
  border-bottom: 1px dotted #ccc;
}

.checkbox-field {
  padding: 10px;
}

/* 商品一覧(管理) */

.admin-pro-body {
  width: 1050px;
  margin: 0 auto;
}

.add-product, .product-mssg {
  margin: 20px 0;
  padding-left: 15px;
}

.each-product {
  border-bottom: 1.2px #ccc dotted;
}

.products-admin-list-item {
  text-align: center;
  padding-left: 12px;
}

.product-image {
  width: 100%;
  height: 145px;
  margin-top: 10px;
}

.product-imageAndName, .price, .createdAt, .updatedAt, .releaseFlag, .dummy {
  padding-left: 10px;
  width: 20%;
}

.product-admin-img_name {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  margin: 0 auto;
  width: 80%;
}

.img_and_name {
  margin: 0 auto;
}

.product {
  border-bottom: #ccc 1px dotted;
}

.product-link {
  display: block;
  width: 135px;
}

.product-name {
  width: 135px;
}

.product-paginate {
  margin-top: 50px;
}

.pagination {
  justify-content: center;
}

/* 商品詳細(管理) */

.product-list-link {
  margin: 0 auto;
  width: 860px;
  display: flex;
  justify-content: right;
}

.product-detail-body {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.product-detail {
  display: flex;
}

.product-image-cover {
  width: 540px;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}

.product-description {
    margin: 30px 0 0 30px;
}

.nameAndPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-detail-price {
  font-weight: bold;
}

.product-detail-description {
  width: 400px;
}

/* 商品一覧(顧客向け) */

.products-list {
  margin: 120px auto 0;
  display: flex;
  width: 100%;
}

.product-list-body {
  width: 90%;
}

.slick-product-new1-cover {
  margin-bottom: 20px;
}

.slick-product-new2-cover {
  margin: 20px 0;
}

.slick-product-new1, .slick-product-new2 {
  width: 80%;
  margin: 0 auto;
}

.slick-product-new1 img, .slick-product-new2 img {
  width: 100%;
  max-height: 50vw;
  object-fit: cover;
}

.slick-product-new1 .slick_slide, .slick-product-new2 .slick_slide {
  margin: 0 10px;
  padding: 0 10px;
}

.product-name-customer, .product-price-customer {
  margin: 0;
  color: var(--sumi);
}

.product-title-new, .product-title-recommend {
  width: 78%;
  margin: 0 auto;
}

.product-title {
  margin-top: 0;
  font-weight: bold;
  color: var(--sumi);
  text-align: center;
}

.hot-products-whole {
  width: 78%;
  margin: 0 auto;
  padding-top: 20px;
}

.hot-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.hot-products-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.hot-products-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.hot-products-1 {
  display: flex;
  justify-content: center;
}

.hot-products img, .hot-products-3 img, .hot-products-2 img,
.hot-products-1 img {
  width: 100%;
  max-height: 50vw;
  object-fit: cover;
}

.slide-arrow {
  background-color: #333;
  bottom: 0;
  height: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0;
}

.prev-arrow {
  border-bottom: 50px solid #fff;
  border-left: 0;
  border-right: 20px solid #C0C0C0;
  border-top: 50px solid #fff;
  left: -25px;
}

.next-arrow {
  border-bottom: 50px solid #fff;
  border-left: 20px solid #C0C0C0;
  border-right: 0;
  border-top: 50px solid #fff;
  right: -25px;
}

.prev-arrow:hover {
  border-right: 20px solid #CAD8E3;
}

.next-arrow:hover {
  border-left: 20px solid #CAD8E3;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
}

.product-price-index, .product-name-index {
  margin: 0;
  font-weight: bold;
  color: var(--sumi);
}

.taxin-customer {
  font-size: 13px;
}

@media (max-width: 1400px) {
  .slick-product-new1, .slick-product-new2 {
    width: 78%;
  }
}

@media (max-width: 1154px) {
  .hot-products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 980px) {


  .products-list {
    width: 100%;
  }

  .filter-search {
    display: none;
  }

  .product-list-body {
    width: 100%;
  }
}

@media (max-width: 779px) {
  .hot-products, .hot-products-3 {
    grid-template-columns: 1fr 1fr;
  }
}

/* 商品詳細(顧客向け) */
.ec-productRole {
  margin: 120px auto 0;
}

.product-customer-detail {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 120px;
}

.product-customer-left {
  width: 90%;
  margin: 0 auto;
}

.slick-main, .slick-thumbnail {
  visibility: hidden;
  width: 100%;
  margin: 0 auto;
}

.slick-main.slick-initialized, .slick-thumbnail.slick-initialized {
  visibility: visible;
}

.slick-next {
  right: 10px;
}

.slick-prev {
  left: 10px;
}

.slick-prev, .slick-next {
  z-index: 2;
}

.slick-main img {
  margin: 0 auto;
  width: 100%;
  max-height: 50vw;
  object-fit: cover;
}

.slick-thumbnail img {
  width: 70%;
  height: 9vw;
  margin: 10px auto;
}

.slick-thumbnail .slick-track {
  transform: unset !important;
}

.product-customer-desc {
  width: 95%;
  margin: 5px auto;
}

.product-customer-name {
  margin: 0 0 20px;
  color: var(--sumi);
}

.product-price-customer {
  font-size: 25px;
  font-weight: bold;
  color: #D12080;
  padding: 10px 0;
}

.taxin {
  font-size: 18px;
}

.stock, .brand, .shape, .carrying_style,
.style, .closure_method {
  margin: 0;
}

.product-color, .product-stock, .product-brand, .product-shape, .product-carrying_style,
.roduct-carrying_style, .product-style, .product-closure_method, .product-quantity,
.product-release_flag, .product-category {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--sumi);
}

.product-add-cart-field {
  width: 330px;
}

.quantity-form {
  width: 80px;
  text-align: right;
}

.mssg-no-add-cart {
  width: 100%;
  height: 40px;
  display: flex;
  padding-left: 10px;
  margin-bottom: 15px;
  align-items: center;
  border-radius: 4px;
}

.add-cart {
  width: 250px;
}

.ec-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
}

.ec-modal .ec-modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.ec-modal .ec-modal-wrap {
  position: relative;
  border-radius: 2px;
  border: 1px solid #333;
  background-color: #fff;
  width: 50%;
  height: 200px;
  margin: 20px;
  padding: 40px 5px;
}

.ec-modal .ec-modal-close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
  height: 30px;
  width: 20px;
}

.ec-modal .ec-role {
  margin-top: 20px;
}

.ec-role {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4;
  color: #525263;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  max-width: 1130px;
  text-align: center;
}

.ec-inlineBtn--action {
  display: inline-block;
  margin-bottom: 0;
  margin: 0 2px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 0px;
  user-select: none;
  padding: 10px 16px;
  text-decoration: none;
  color: #fff;
  background-color: #DE5D50;
  border-color: #DE5D50;
}

.ec-inlineBtn--action:hover {
  color: #fff;
  background-color: #D21E3C;
  border-color: #D21E3C;
}

.ec-inlineBtn--cancel {
  display: inline-block;
  margin-bottom: 0;
  margin: 0 2px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 0px;
  user-select: none;
  padding: 10px 16px;
  text-decoration: none;
  color: #fff;
  background-color: #525263;
  border-color: #525263;
}

.ec-inlineBtn--cancel:hover {
  color: #fff;
  background-color: #3E3E4D;
  border-color: #3E3E4D;
}

.add-button-favorite {
  width: 200px;
}

.favorite-btn {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ECEFEE;
  border: none;
  border-radius: 5px;
  color: #707070;
  font-size: 15px;
  font-weight: bold;
}

.add-favorite-btn:hover {
  background-color: #D0D0D0;
}

.added-favorite-btn {
  background-color: #D0D0D0;
}

.editAndList-link {
  margin: 20px 0;
}

.product-costomer-center {
  margin-top: 30px !important;
  width: 90%;
  margin: 0 auto;
}

.product-description-title {
  border-bottom: #ccc 0.8px solid;
  font-weight: bold;
  color: var(--sumi);
}

.product-description-sen {
  color: var(--sumi);
}

 
@media (max-width: 1120px) {
  .title {
    width: 95%;
  }

  .ec-pageHeader {
    width: 99%;
  }

  .alert {
    width: 95%;
  }

  .notice {
    width: 95%;
  }

  .admin-pro-body {
    width: 95%;
  }

  .product-list-link {
    width: 77%;
  }
}

@media (min-width: 960px) and (max-width: 1130px) {
    .ec-borderedDefs {
      width: 84.5%;
    }

    .element {
      width: 100%;
    }

    #error-explanation {
      width: 80%
    }
 
    .mail-cautions {
      width: 80%;
    }

    .ec-withdrawal {
      width: 80%;
    }

    .ec-loginBody {
      width: 57%;
    }
}

@media (max-width: 980px) {
  /* エラーメッセージ */
  #error_explanation {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
   
  /* 新規会員登録、登録確認、編集共通 */
  .ec-formBody {
    padding: 0;
  }

  .ec-borderedDefs {
    width: 95%;
  }

  .element {
    display: block;
  }
  
  .job {
    border-bottom: 1px dotted #ccc;
  }
  
  .element-label {
    font-weight: normal;
    padding-left: 10px;
  }
  
  .element-form {
    width: 100%;
  }

  .mail-cautions {
    width: 95%;
  }

  .btn {
    width: 95%;
  }

  /* ログイン */
  .ec-loginBody {
    margin: 0 auto;
    width: 98%;
  }

  .login-form {
    width: 75% !important;
  }

  .form-check {
    margin: 0 auto;
    width: 75%;
  } 

  .ec-login {
    display: block;
    padding: 0 0;
    height: 150px;
  }

  .ec-login_actions {
    width: 75%;
    margin: 0 auto;
  }

  .btn-login {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    width: 75%;
  }

  .ec-login_link {
    width: 75%;
    margin: 0 auto !important;
    margin-top: 15px !important;
  }  

  /* パスワード再発行 */
  .btn-email {
    width: 100%;
  }

  /* 商品登録 */
  .product-list-link {
    width: 90%;
  }

  /* 商品詳細(管理) */
  .product-detail {
  display: block;
  } 

  /* 商品詳細(顧客向け) */
  .ec-productRole  {
    margin-top: 35px;
  }

  .product-customer-detail {
    display: block;
  }

  .product-customer-right {
    width: 100%;
  }

  .product-customer-left {
    width: 95%;
  }

  .product-customer-desc {
    width: 93%;
    margin-top: 50px;
  }

  .slick-main img {
    width: 100%;
    max-height: 90vw;
    object-fit: cover;
  }

  .slick-thumbnail img {
    width: 55%;
    height: 15vw;
    margin: 10px auto;
  }

  .slick-main, .slick-thumbnail {
    visibility: hidden;
  }
  
  .slick-main.slick-initialized, .slick-thumbnail.slick-initialized {
    visibility: visible;
  }

  .product-add-cart-field {
    width: 100%;
  }

  .add-cart {
    width: 100%;
  }

  .ec-modal .ec-modal-wrap {
    padding: 40px 10px;
    width: 90%;
    margin: 20px auto;
}
}

/* ページネーション */

.pagination>li>a {          
  border: none;     
  color: #696969;   
}

.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;     
}

.pagination>li>a:hover {        
  border-radius: 15px;   
}

.pagination {
  justify-content: center;
}

/* お問い合わせ */

.message-element {
  border-bottom: 1px dotted #ccc;
}