<p class="mail-cautions">
  新規会員登録後、商品ご購入後に、完了メールが送られますので、
  <br />
  以下のメールアドレスを必ず受信して頂けるよう受信設定をお願いいたします。
  <br />
  <b>kazu.m.sora9@gmail.com</b>
  <br />
  ＜携帯・スマートフォンのアドレスをご利用の方＞
  <br />
  docomo、au、softbankなど、各キャリアのセキュリティ設定のためユーザー受信拒否と認識されているか、お客様が迷惑メ
  ール対策等で、ドメイン指定受信を設定されている場合に、メールが正しく届かないことがございます。
  <br />
  ＜PCメールアドレスをご利用の方＞
  <br />
  お使いのメールサービス、メールソフト、ウイルス対策ソフト等の設定により「迷惑メール」と認識され、メールが届かない場合が
  あります。（特にYahoo!メールやHotmailなどのフリーメールをお使いの方）その場合は「迷惑メールフォルダー」等をご確認いた
  だくか、お使いのサービス、ソフトウェアの設定をご確認ください。
</p>
