<div class="ec-wholePage">
  <div class="ec-pageHeader">
    <h2 class="title">新規会員登録完了</h2>
  </div>

  <div class="ec-formBody">
    <div class="ec-borderedDefs">
      <h4>登録メールを送信しました！<br />
         届いたメールのリンクからアカウントを有効化してください。
      </h4>
    </div>
  </div>
</div>